@import '../../static/style/colors.scss';
@import '../../static/style/Media.scss';

.myButton{
    color: white;
    display: block;
    font-weight: bold;
    display: inline;
    font-size: 11px !important;
    
}

.myButton:hover{
    cursor: pointer; 
    color: $hover;
}



.medium{
    padding: .5em 2.25em;

    @include respond(medsmall) {
        padding: 0.5em .5em;
    }
}

.red{
    background-color: $red;
}