@import '../../static/style/colors.scss';
@import '../../static/style/colors.scss';

.myButton{
    color: white;
    display: block;
    font-weight: bold;
}

.myButton:hover{
    cursor: pointer; 
    color: $hover;
}



.medium{
    padding: .5em;
}

.red{
    background-color: $red;
}